/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @import '../node_modules/tailwindcss/base';
@import '../node_modules/tailwindcss/components';
/* @import '../node_modules/base.css'; 
@import '../node_modules/tailwindcss/utilities'; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    background-color: rgb(240 253 244);
}
.Card{
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius: 14px;
    background-color: white;
    width:fit-content;
    height: fit-content;
}